In [ ]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
high_schools

# print(high_schools.keys())

# print(hich_schools.values())

# print(high_schools.items())

In [ ]:
# for loop
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

In [ ]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "Distice"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
high_school_types

In [ ]:
counties_dict = [{'Arapahoe': 422829, 'Denver': 463353, 'Jefferson': 432438}]
counties_dict
#print(type(counties_dict))
#counties_dict.items()

In [ ]:
counties_dict = {}
counties_dict["Arapahoe"] = 422829
counties_dict["Denver"] = 463353
counties_dict["Jefferson"] = 432438
#can only list one of the commands at a time & the items, keys, value's work  Ask Kurt
#counties_dict.items()
print(type(counties_dict))
#counties_dict.keys()
#counties_dict.values()

In [ ]:
#list of High schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School",
 "Hernandez High School","Griffin High School",
"Wilson High School", "Cabrera High School",
 "Bailey High School", "Holden High School", "Pena High School",
 "Wright High School","Rodriguez High School", "Johnson High School",
 "Ford High School", "Thomas High School"]
#high_schools

In [ ]:
# to create a pandas.Series() need to Add the Pandas dependency 1st
import pandas as pd
school_series = pd.Series(high_schools)
# example of panda series looks like excel
school_series

print(type(school_series[0]), school_series[0])

#for schools in school_series:
#   print(schools)

In [ ]:
# A dictionary of high schools  CONVERT A LIST OF DICTIONARIES TO DATAFARME
#convert the array, or list of dictionaries, to a DataFrame using school_df = pd.DataFrame(high_school_dicts)
import pandas as pd
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
#high_school_dicts
school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
#Convert a List or Series to a DataFrame
# Three separate lists of information on high schools
school_id = [0,1,2,3,4]
school_name = ["Huang High School","Figueroa High School","Shelton High School",
               "Hernandez High School","Griffin High School"]
type_of_school = ["District", "District", "Charter", "District","Charter"]

#Initialize a new DataFrame
import pandas as pd
schools_df = pd.DataFrame()
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type of School"] = type_of_school
schools_df
#schools_df.columns
#schools_df.index
#schools_df.values

#Another way to create this DataFrame is to create a Python dictionary from the three lists
# Doesnt work

#school_id = [0,1,2,3,4]
#school_name = ["Huang High School","Figueroa High School","Shelton High School",
               "Hernandez High School","Griffin High School"]
#type_of_school = ["District", "District", "Charter", "District","Charter"]
#high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
#high_schools_dict
#import pandas as pd
#high_schools_df = pd.DataFrame()
#high_schools_df["School ID"] = school_id
#high_schools_df["School Name"] = school_name
#high_schools_df["Type of School"] = type_of_school
#high_schools_df

In [1]:
# Skill drill
import pandas as pd
HS_dicts =[{"School ID":0,"school_name": "Huang High School", "Type": "District"},{"School ID":1,"school_name": "Figueroa High School ", "Type": "District"},
                    {"School ID":2,"school_name": "Shelton High School", "Type": "Charter"},
                   {"School ID":3,"school_name": "Hernandez High School", "Type": "District"},
                   {"School ID":4,"school_name": "Griffin High School", "Type": "Charter"},
                   {"School ID":5,"school_name": "Wilson High School", "Type": "Chartert"},
                   {"School ID":6,"school_name": "Cabera High School", "Type": "Charter"},
                   {"School ID":7,"school_name": "Bailey High School", "Type": "District"},
                   {"School ID":8,"school_name": "Holden High School", "Type": "Charter"},
                   {"School ID":9,"school_name": "Pena High School", "Type": "District"},
                   {"School ID":10,"school_name": "Wright High School", "Type": "Charter"},
                   {"School ID":11,"school_name": "Rodriquez High School", "Type": "District"}]

school_df = pd.DataFrame(HS_dicts)
school_df

    School ID            school_name      Type
0           0      Huang High School  District
1           1  Figueroa High School   District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School  Chartert
6           6     Cabera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School  District
10         10     Wright High School   Charter
11         11  Rodriquez High School  District